.calculator{
    border: 1px solid rgba(0, 0, 0);
    width: 250px;
    height: 500px;
}


.display{
    border-radius: 5px;
    margin: 10px;
   font-size: 45px;
    width: 220px;
}

.btnC{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn{
    width: 45px;
    height: 45px;
    margin: 5px;
}